body {
    width: 100%;
    height: 100%;
    margin: 0;
    user-select: none;
    color: #fff;
    font-family: 'EL', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
}

.container {
    position: relative;
    width: auto;
    height: auto;
    overflow: hidden;
    border: 8px solid #fff;
    border-radius: 20px;
    transition: transform 0.5s cubic-bezier(00.800, 0, 0.420, 1.000);
}

.transition {
    mix-blend-mode: color-dodge;
}

.card {
    position: relative;
    width: 100%;
    height: auto;
}

.card img {
    display: block;
    width: 100%;
    max-width: 240px;
    height: auto;
    margin: 0 auto;
}

.mimic {
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(100px) saturate(0);
    mix-blend-mode: color-dodge;
    opacity: 0;
    transition: none;
    cursor: pointer;
}

.mimicready {
    display: block;
    opacity: 0.7;
    transition: opacity 0.15s ease-out;
    cursor: default;
}

.mimicAnimated {
    filter: blur(20px) saturate(0);
    opacity: 0;
    transition: opacity 0.4s ease-out, filter 0.4s cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

.ripple {
    z-index: 9;
    position: absolute;
    width: 80px;
    height: 80px;
    top: 0%;
    left: 50%;
    border: 20px solid #ffffff;
    border-radius: 50%;
    box-sizing: border-box;
    mix-blend-mode: overlay;
    opacity: 0.9;
    filter: blur(4px);
    transform: translate(-50%, 350%);
    transition: none;
}

.rippleAnimated {
    transform: translate(-50%, -10%) scale(34);
    transition: transform 2s cubic-bezier(0.165, 0.84, 0.44, 1), opacity 0.8s ease-out;
}

.animatefadeout {
    opacity: 0;
}

.after {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;    
    transition: opacity 0.2s ease-out;

}

.before {
    z-index: 1;
}

.zinvsible {
    z-index: -3;
}

.shown {
    opacity: 1;
    transition: opacity 0.4s ease-out;
}

.button {
    position: fixed;
    bottom: 50px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.2s ease;
}

.blurred {
    z-index: -1;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(150px) saturate(2) brightness(0.4);
}

.background img {
    z-index: -2;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 110%;
    height: 110%;
    transform: translateX(-5%) translateY(-5%);
}

@font-face {
    font-family: 'EL';
    src: url(electrolize.ttf);
}
